#boat, #fox, #chicken, #grain{float: left; position: relative; border: 3px transparent solid;}
#boat{clear: both;}

#game .win-move { border: 3px #0f0 solid }
#game .tie-move { border: 3px #ff0 solid }
#game .lose-move { border: 3px #8a0000 solid }