#game {
	text-align: center;
}

#game table {
	margin-left: auto;
	margin-right: auto;
}
#game .keyboard td {
	border: outset 2px #fff;
	vertical-align: top;
	color: #fff;
	font-family: Arial,Helvetica;
	font-size: 12px;
}

#game .move-key:hover {
	background: #009;
	cursor: pointer;
}

#game .move-key:active {
	border-style: inset;
	background: #003;
}

#game .letter {
	font-size: 10px;
	font-weight: normal;
	font-family: verdana;
	text-align: left;
}
#game .move {
	text-align: center;
}
/* TODO - how to extract from .win-move */
#game .keyboard td.win {
	border-color: #0f0;
}
#game .keyboard td.lose {
	border-color: #8a0000;
}
#game .keyboard td.tie {
	border-color: #ff0;
}
