#game td {
    border: 1px solid #fff; width: 1.5em; height: 1.5em;
    text-align: center; font-weight: bold; font-size: 3em;
}

.valid-move { background-color: white; }

#getRandomBoard { background-color: darkblue; color: yellow; border: 3px outset yellow; }
#getUserBoard { background-color: darkblue; color: yellow; border: 3px outset yellow; }
#donePlacingPieces { background-color: darkblue; color: yellow; border: 3px outset yellow; }