<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 version="2.5">
  
  <description>Remote access to the Gamesman data bases</description>
  <display-name>GamesmanWeb</display-name>
  
  <context-param>
    <description>The game name dictionary file to load</description>
    <param-name>gameDictionary</param-name>
    <param-value>dictionary.xml</param-value>
  </context-param>
  
  <!-- register the GCWeb service -->
  <servlet> 
    <servlet-name>GCWebServlet</servlet-name> 
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
    <load-on-startup>1</load-on-startup> 
  </servlet> 
  <servlet-mapping> 
    <servlet-name>GCWebServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Load the tag libraries used by the JSPs. -->
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
    <taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
  </taglib>
  <!-- Remember the custom GamesCrafters Tag Library, too! -->
  <taglib>
    <taglib-uri>http://gamescrafters.berkeley.edu/gctl</taglib-uri>
    <taglib-location>/WEB-INF/tld/gctl.tld</taglib-location>
  </taglib>
</web-app>
