#playerTurn {
    font-family: "geneva";
    position: relative;
}

#canvasContainer {
    margin: 0 auto;
}

#canvas, #playerTurn {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

